<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Fly Goldfinch</title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="./assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./assets/demo/demo.css" rel="stylesheet" />
  <link href="./assets/css/style.css" rel="stylesheet" />
</head>

<body class="">
  <div id="app" class="wrapper">
    <div v-cloak>
      <div v-if="user.is_logged">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
          <!--
              Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

              Tip 2: you can also add an image using data-image tag
          -->
          <div class="logo">
            <a href="http://www.flygoldfinch.com" class="simple-text logo-normal">
              Fly Goldfinch
            </a>
          </div>
          <div class="sidebar-wrapper">
            <ul class="nav">
              <li class="nav-item active">
                <a class="nav-link" href="./index.html">
                  <i class="material-icons">dashboard</i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item active-pro">
                <a class="nav-link btn btn-outline-primary" @click="logout">
                  <p>Log out</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-panel">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <a class="navbar-brand" href="javascript:;">Dashboard</a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
              </button>
              <!-- <div class="collapse navbar-collapse justify-content-end">
                
                <ul class="navbar-nav">
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">person</i>
                      <p class="d-lg-none d-md-block">
                        Account
                      </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                      <a class="dropdown-item" @click="logout">Log out</a>
                    </div>
                  </li>
                </ul>
              </div> -->
            </div>
          </nav>
          <!-- End Navbar -->
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="card card-stats">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Info.</h4>
                    </div>
                    <div class="card-body">
                      <div class="row text-center">
                        <div class="col-md-6 col-sm-12 border-right">
                          <b v-text="user.name"></b>
                        </div>
                        <div class="col-md-3 col-sm-12 border-right"> Total Count : <span v-text="user.total"></span></div>
                        <div class="col-md-3 col-sm-12">Balance : <span v-text="user.balance"></span></div>
                      </div>
                    </div>
                    <div class="card-footer">
                     
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card card-stats">
                    <div class="card-header card-header-primary">
                      
                      <h4 class="card-title">Create Voucher.</h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                          <input v-model="newVoucher.name" type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12">
                          <input v-model="newVoucher.mobile" type="text" class="form-control" placeholder="Mobile No.">
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                          <button class="btn btn-primary btn-sm" @click="createVoucher">Create</button>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                     
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title ">Vouchers</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td colspan="2">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                  <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" v-model="term">
                                    <button class="btn btn-sm btn-outline-primary" type="button" @click="getVouchers">
                                      <i class="material-icons">search</i>
                                    </button>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr v-for="voucher, vind in vouchers">
                              <td>
                                <div v-text="_lo().get(voucher, 'jdata.client.name', '')"></div>
                                <div v-text="_lo().get(voucher, 'jdata.client.mobile', '')"></div>
                                <div>
                                  <label for="">Voucher Code :</label>
                                  <span v-text="_lo().get(voucher, 'jdata.voucher.code', '')"></span>
                                  <span v-if="_lo().get(voucher, 'jdata.voucher.is_redeem', '')" class="badge badge-success">Redeemed</span>
                                </div>
                              </td>
                              <td class="text-primary">
                                <a v-if="_lo().get(voucher, 'jdata.voucher.is_active', false)" class="btn btn-primary btn-link float-right" @click="downloadVoucher(voucher)">Download</a>
                                <a v-else class="btn btn-danger btn-link float-right" @click="activateVoucher(voucher)">Activate</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="container-fluid">
              <nav class="float-left">
                
              </nav>
              <div class="copyright float-right">
               
              </div>
            </div>
          </footer>
          <div hidden>
            <form method="post" :action="url.pdf" target="_blank">
              <input type="text" name="html" v-model="pdf.html">
              <input type="text" name="name" v-model="pdf.name">
              <input type="text" name="option" v-model="pdf.option">
              <input type="submit" id="submit_pdf" value="Submit">
            </form>
          </div>
        </div>
        
      </div>
      <div v-else>
        <div class="row mt-100p">
          <div class="col-lg-12 col-md-12">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 offset-lg-4 offset-md-4">
              <div class="card card-stats">
                <div class="card-header card-header-primary">
                  
                  <h4 class="card-title">Fly Goldfinch</h4>
                </div>
                <div class="card-body text-left">
                  <div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div><label>Username/Email</label></div>
                        <input id="uname" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div><label>Password</label></div>
                        <input id="pass" type="password" class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary" @click="login">Login</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="./assets/js/core/jquery.min.js"></script>
  <script src="./assets/js/core/popper.min.js"></script>
  <script src="./assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="./assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="./assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="./assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="./assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="./assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="./assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="./assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="./assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="./assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="./assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="./assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="./assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="./assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="./assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="./assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="./assets/demo/demo.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        user : {
          is_logged : false,
          token : "",
          name : "",
          mobile : "",
          total : "",
          balance : ""
        },
        newVoucher : {
          name : "",
          mobile : ""
        },
        pdf : {
          html : "",
          name : "",
          option : "I" 
        },
        page : 1,
        limit : 25,
        term : "",
        vouchers : [],
        url : {
          pdf : "http://api.lmn.trawish.com/pdf/make",
          api : "https://pro.api.trawish.com"
        }
      },
      watch: {
        user(user) {
          localStorage.user = JSON.stringify(user);
        },
        term(term) {
          this.getVouchers();
        }
      },
      mounted() {
        let user = {};

        if (localStorage.user){
          try{
           user = JSON.parse(localStorage.user);
          }catch (e){
            console.log(e);
          }
        }

        this.user = {
          token : _.get(user, "token", ""),
          name : _.get(user, "name", ""),
          mobile : _.get(user, "mobile", ""),
          total : _.get(user, "total", ""),
          balance : _.get(user, "balance", ""),
          is_logged : _.get(user, "is_logged", false)
        };

        if (this.user.is_logged) {
          this.myAccount();
          this.getVouchers();
        }

      },
      methods : {

        _lo(){
          return _;
        },

        logout (){
          this.user = {
            token : "",
            name : "",
            mobile : "",
            total : "",
            balance : "",
            is_logged : false
          }
        },

        login(){
          var email = $('#uname').val();
          var pass = $('#pass').val();

          $.ajax({
            url : this.url.api+"/v1/flygoldfinch/user/partner/login",
            method : "post",
            data : {
              email : email,
              password : pass
            },
            dataType : "json",
            success : (res) => {

              this.user = {
                token : res.access_token,
                name : _.get(res, "user.name"),
                total : _.get(res, "voucher.total", 0),
                balance : _.get(res, "voucher.balance", 0),
                is_logged : true
              }

              $('#pass').val(""); // wipe the password.
              
              this.myAccount();
            }
          })

        },

        myAccount(){

          $.ajax({
            url : this.url.api+"/v1/flygoldfinch/user/partner/myaccount",
            method : "get",
            data : {},
            headers : {
              "Authorization" : "Bearer "+this.user.token,
            },
            dataType : "json",
            success : (res, textStatus, xhr) => {
              try{
                if (xhr.status == 200) {
                  this.user.total = res.jdata.voucher.total
                  this.user.balance = res.jdata.voucher.balance
                }
              }
              catch(e){

              }
              
            }
          });
        },

        getVouchers(){

          $.ajax({
            url : this.url.api+"/v1/flygoldfinch/user/partner/vouchers",
            method : "get",
            data : {
              page : this.page,
              limit : this.limit,
              term : this.term,
              sort : "-created_at"
            },
            headers : {
              "Authorization" : "Bearer "+this.user.token,
            },
            dataType : "json",
            success : (res) => {

              this.vouchers = _.get(res, "data", []);
              this.page = _.get(res, "page", 1);
              this.limit = _.get(res, "perPage", 25);

            }
          });
        },

        createVoucher(){

          $.ajax({
            url : this.url.api+"/v1/flygoldfinch/user/partner/vouchers",
            method : "post",
            data : {
              name : this.newVoucher.name,
              mobile : this.newVoucher.mobile
            },
            headers : {
              "Authorization" : "Bearer "+this.user.token,
            },
            dataType : "json",
            success : (res, textStatus, xhr) => {
              if (xhr.status == 200) {
                this.newVoucher.name = "";
                this.newVoucher.mobile = "";
                this.getVouchers();
                this.myAccount();
                this.downloadVoucher(res);

              }else{
                alert("Unable to create voucher.");
              }
            }
          });

        },

        activateVoucher(voucher){

          if (!voucher.id) {
            alert("Something went wrong.");
          }else{
            $.ajax({
              url : this.url.api+"/v1/flygoldfinch/user/partner/vouchers/activate",
              method : "put",
              data : {
                id : voucher.id
              },
              headers : {
                "Authorization" : "Bearer "+this.user.token,
              },
              dataType : "json",
              success : (res, textStatus, xhr) => {
                if (xhr.status == 200) {
                  this.myAccount();
                  this.getVouchers();
                }else{
                  alert("Unable to activate voucher.");
                }
              }
            });
          }

        },

        downloadVoucher(voucher){

          this.pdf.name = "Your Voucher - "+_.get(voucher, "jdata.client.name", "");
          this.pdf.html = `<html>
              <body style="background-image: url('https://storage.trawish.com/image/5503be229241958497df01d04f08c533b126449f.jpg');
                       background-position: top left;
                       background-repeat: no-repeat;
                       background-image-resize: 4;
                       background-image-resolution: from-image; margin:0; padding: 0;">
                  <div style="height: 920px;"></div>
                  <div style="color: #ffffff; font-size: 25px;"><b>`+_.get(voucher, "jdata.voucher.code", "").toUpperCase()+`</b></div>
                 <div style="height: 10px;"></div>
                  <div style="color: #ffffff; font-size: 12px;">Valid till : `+moment(_.get(voucher, "created_at", "")).add(30, "d").format('MMM DD, YYYY')+`</div>
              </body>
          </html>`;

          setTimeout(function () {
            $("#submit_pdf").click();
          }, 1000);

        }
      }
    })
  </script>
</body>

</html>
